<h3>
  {{ 'grid.albums.gridTitle' | translate }}
  <div class="pull-right">
    <button class="btn btn-link" (click)="refreshData()">{{ 'button.refresh' | translate }}</button>
  </div>
</h3>
<grid [data]="loadData()">
  <grid-column name="userid" [label]="'grid.albums.user' | translate"></grid-column>
  <grid-column name="title" [label]="'grid.albums.title' | translate"></grid-column>
</grid>
