<h3>
  {{ 'grid.photos.gridTitle' | translate }}
  <div class="pull-right">
    <button class="btn btn-link" (click)="refreshData()">{{ 'button.refresh' | translate }}</button>
  </div>
</h3>
<grid [data]="loadData()">
  <grid-column name="album" [label]="'grid.photos.album' | translate"></grid-column>
  <grid-column name="title" [label]="'grid.photos.title' | translate"></grid-column>
  <grid-column name="thumbnailUrl" [label]="'grid.photos.thumbnail' | translate"></grid-column>
</grid>
