<h3>
  {{ 'grid.users.gridTitle' | translate }}
  <div class="pull-right">
    <button class="btn btn-link" (click)="refreshData()">{{ 'button.refresh' | translate }}</button>
  </div>
</h3>
<grid [data]="loadData()">
  <grid-column name="name" [label]="'grid.users.name' | translate">
    <ng-template #cellTemplate let-row="row">
      {{ '***' + row.name + '***' }}
    </ng-template>
  </grid-column>
  <grid-column name="username" [label]="'grid.users.username' | translate"></grid-column>
  <grid-column name="email" [label]="'grid.users.email' | translate"></grid-column>
  <grid-column name="phone" [label]="'grid.users.phone' | translate"></grid-column>
  <grid-column name="website" [label]="'grid.users.website' | translate"></grid-column>
</grid>
