<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        {{ 'app.title' | translate }}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/albums">{{ 'grid.albums.gridTitle' | translate }}</a></li>
        <li routerLinkActive="active"><a routerLink="/photos">{{ 'grid.photos.gridTitle' | translate }}</a></li>
        <li routerLinkActive="active"><a routerLink="/todos">{{ 'grid.todos.gridTitle' | translate }}</a></li>
        <li routerLinkActive="active"><a routerLink="/users">{{ 'grid.users.gridTitle' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
