<table [class]="tableClass">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [class]="column.name">
        <grid-header
          [name]="column.label"
          [template]="findHeaderTemplate(column.name)"></grid-header>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of _dataCache">
      <td *ngFor="let column of columns" [class]="column.name">
        <grid-cell
          [name]="column.name"
          [row]="row"
          [template]="findCellTemplate(column.name)"></grid-cell>
      </td>
    </tr>
  </tbody>
</table>
